.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.size {
  width: auto;
  height: 140px;
  border-radius: 5px;
}

.logo {
  height: 350px;
  object-fit: cover;
}

.scudetto {
  height: 70px;
}
.navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.barnav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0;
  border: 2px solid orange;
}
.nopoint {
  text-decoration: none;
}
